@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  color:white;

}


.inner-header {
  height:25vh;
  width:100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px;
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
:root{
    font-size: 16px;
}


.recipe header{
  text-align:center;
  vertical-align: middle;
  padding: 1em;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.first_button{
	font-size: 1.6em;
	width: 16em;
	border-radius: 100px;
	background-color:rgb(202, 156, 200);
	border-color:rgb(202, 156, 200);
	height: 6em;
	margin-top: 4em;
  border-style:none;
}

.first_button:hover{
  background-image: linear-gradient(to bottom,rgb(0,0,0,0),rgb(0,0,0,0.5));
}
.first_button:active{
	background-image:linear-gradient(to bottom,rgb(0,0,0,0.5),rgb(0,0,0,0.5));
}

.second_button{
	font-size: 1.6em;
	width: 16em;
	border-radius: 100px;
	background-color:rgb(128, 59, 59);
	border-color:rgb(128, 59, 59);
	height: 6em;
  border-style:none;
}
.second_button:hover{
  background-image: linear-gradient(to bottom,rgb(0,0,0,0),rgb(0,0,0,0.5));
}
.second_button:active{
	background-image:linear-gradient(to bottom,rgb(0,0,0,0.5),rgb(0,0,0,0.5));
}
.bottom_section1{
	padding-left: 9em;
	padding-right: 9em;
	padding-top: 1em;
	opacity:0.4;
}
.bottom_section2{
	padding-left: 9em;
	padding-right: 9em;
	opacity:0.4;
}

.terms_of_use2{
	text-wrap: wrap;
	display: block;
	text-align:center;
	padding-left:4em;
	padding-right:4em;
  color:rgb(10, 1, 94);

}
.terms_of_use2:link{
  background-color: transparent;
  text-decoration: none;

}
.terms_of_use2:hover{
  background-color: transparent;
  text-decoration: none;
  opacity: 0.7;
}

.fa-regular{
	position: relative;
	inset-inline-start:1.6em ;
	margin-top: 2.7em;
	font-size: 1.5em;
}

#first_pen_icon{
	inset-inline-start:3.4em ;
	margin-top: 7em;
}

#trash_icon{
	inset-inline-start:3.8em;
}

.btn1{
	margin-top: 10em;
}

h1{
	margin-top: 22em;
}
.btn2{
	margin-top: 1em;
}


.fa-solid{
  font-size: 2.1em;
  color:rgb(255, 255, 255);
  position: relative;
  margin-top: 0.2em;
  inset-inline-start: 41vw;
}
.fa-solid:hover .dropdown-content{
  display: block;
}


.fa-solid:link{
  text-decoration: none;
  background-color:transparent;
  
}

.dropdown-content {
  display: none;
  overflow: none;
  font-size: 0.6em;
  text-align:center;
  font-family: 'Times New Roman', Times, serif;
  
}

.dropdown:hover .dropdown-content {
  display: block;
  position: relative;
}

.dropdown-content a {
  display: block;
  color:white;
  text-decoration: none;
}
.dropdown-content a:hover {
  opacity: 0.4;
}
.transparent{
  color:transparent;
}