@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}
.header .fa-solid{
  text-align: start;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgb(0, 0, 0) 0%, rgb(107, 79, 79) 100%);
  color:white;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
:root{
    font-size: 16px;
}
.fa-circle-left{
    position: relative;
    font-size: 2em;
    color:white;
    text-transform: lowercase;
    inset-inline-start: 0.7em;

}

.fa-circle-left:link{
    background-color: transparent;
    text-decoration: none;
}

.fa-circle-left:hover{
    background-color:transparent;
    color:black;
    text-decoration: none;
}

.previous_button:link{
  background-color: transparent;
  text-decoration: none;

}
.previous_button{
  display: flex;
  flex-direction: row;
  position: relative;
}
.previous_button div{
    position: relative;
    inset-inline-start: 2em;
    margin-top: 0.4em;
    color:white;
}


.icon-container{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap:wrap ;
    margin-top: 6em;
    text-decoration: none;
    background-color: transparent;
}

.icon-container .fa-solid{
    font-size: 8em;
    background-color: transparent;
    text-decoration: none;
    position: relative;
    margin-top: 0.7em;
    inset-inline-end: 1.5em;

}
.icon-container .fa-road {
  inset-inline-end: 1.68em;
}

.circle{
  height: 18em;
  width: 18em;
  text-decoration: none;
  background-color: #bbb;
  border-radius: 50%;
  position: relative;
  background-color: white;
  border: 1px solid lightgrey;
  margin-left: 3em;

}

.icon{
  display: flex;
  flex-direction:row;
  text-decoration: none;
}

.icon-container .circle1{
  background-color:rgb(100, 165, 250); 
}

.icon-container .circle2{
  background-color:rgb(239, 255, 17); 
}

.icon-container .circle3{
  background-color:rgb(99, 99, 99); ;
}
.icon-container .circle:hover{
  background-image: linear-gradient(to bottom,rgb(0,0,0,0),rgb(0,0,0,0.5));
}
.icon-container .circle:active{
  background-image: linear-gradient(to bottom,rgb(0,0,0,0.5),rgb(0,0,0,0.5));
}
.icon-container .icon1 .fa-solid{
  color:white;
}

.icon-container .icon2 .fa-solid{
  color:white
}

.icon-container .icon3 .fa-solid{
  color:white;
}

.icon-container .icon4 .fa-solid{
  color:black;
}
